<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxt.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.zxt.domain.Permission">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="perid" column="perid" jdbcType="INTEGER"/>
            <result property="pername" column="pername" jdbcType="VARCHAR"/>
            <result property="percode" column="percode" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,perid,pername,
        percode
    </sql>
</mapper>
